.home-page {
  width: 100%;
  min-height: calc(100vh - 80px);
  padding: 40px;
  background: #F6F5FB;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  font-family: "Inter", sans-serif;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  background: #ffffff;
  padding: 30px 32px;
  border-radius: 18px;
  border: 1px solid #E6E2F3;
  box-shadow: 0 6px 16px rgba(90, 79, 207, 0.10); 
}

.card h2 {
  font-size: 22px;
  font-weight: 700;
  color: #4B3CC4;
  margin-bottom: 18px;
}

.card h3 {
  font-weight: 600;
  font-size: 17px;
  margin-top: 18px;
}

.progress-container {
  background: #E9E6F5;
  height: 12px;
  width: 100%;
  margin-top: 6px;
  border-radius: 8px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #7D6BFF, #5A4FCF);
  transition: width 0.4s ease;
  border-radius: 8px;
}

.history-item {
  padding: 12px 0;
  border-bottom: 1px solid #EDEAF8;
}

.history-item p {
  font-size: 14px;
  color: #6B6A75;
  margin-top: 2px;
}

.history-item small {
  font-size: 12px;
  color: #9A96BC;
}

.history-btn {
  padding: 10px 15px;
  background: #5A4FCF;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: 0.2s;
  outline: none;
}


.history-btn:hover {
  background: #493EC0;
}

.side-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid #E6E2F3;
  box-shadow: 0 6px 16px rgba(90, 79, 207, 0.08);
  cursor: pointer;
  transition: 0.25s ease;
  text-align: center;
  margin-bottom: 25px;
}

.side-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #5A4FCF;
}

.side-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 22px rgba(90, 79, 207, 0.12);
}

@media (max-width: 1000px) {
  .home-page {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .side-card {
    max-width: 500px;
    margin: 0 auto 20px auto;
  }
}

.progress-bar.normal {
  background: linear-gradient(90deg, #7D6BFF, #5A4FCF);
}

.progress-bar.warning {
  background: linear-gradient(90deg, #FFB457, #FF8E3C);
}

.progress-bar.danger {
  background: linear-gradient(90deg, #FF6B6B, #D94444);
}

.icon-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}
