.navbar {
  background-color: #6b46c1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar ul li {
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
}
